body{
    background-color: rgb(29, 170, 180);
    font-family: 'Open Sans Condensed', sans-serif;
}

img{
    border-radius: 50%;
    border: 3px solid rgb(20, 117, 124);
}

body{
    text-align: center;
}

.button1, .button2{
    background-color: rgb(20, 117, 124);
    margin: 5px 560px;
    padding: 4px;
    border-radius: 10%;
}

.button1 a, .button2 a{
    text-decoration: none;
    color: black;
}